*.pkg.tar.xz
*.log
*.sig
*.gz
*.xz
*.tar
*.bz
*.zip
linux-lts.install.pkg
btrfs-progs/btrfs-scrub@.service
btrfs-progs/btrfs-scrub@.timer
iptables/ip6tables.service
iptables/iptables-flush
iptables/iptables.service
